{% extends "base.html" %}
{% block content %}
<div class="card bg-dark text-center text-white", style="width: 79rem;">
    <img class="card-img" src="../static/assets/sunset.jpg" alt="Card image">
    <div class="card-img-overlay">
        <div class="card-body">
        <h1 class="card-title">Show your thoughts, your life, your way!</h1>
        <p class="card-text">Create a blog and record your life</p>
        <a href="/register" class="btn btn-primary">Sign Up</a>
            <a href="/login" class="btn btn-primary">Log In</a>
        </div>
    </div>
</div>
{% endblock %}